<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Google Fots -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- Remixicon Icon -->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <!-- Remixicon Icon -->
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <!-- Main CSS -->
      <link href="./static/assets/css/main.css" rel="stylesheet">
      <link rel="shortcut icon" href = "{{ url_for('static', filename='favicon.ico') }}">


    <title>GustavoHR CV</title>
  </head>
  <body>
   
    <!-- header -->
    <header class="ds-header" id="site-header">
        <div class="container">
            <div class="ds-header-inner">
              <!-- logo -->
              <a href="index.html" class="ds-logo">
                <span>G</span>Gustavo Herrera
              </a>
              <!-- logo -->
              <!-- social -->
              <ul class="ds-social">
                <li><a href="https://github.com/G-herr" target="_blank"><i class="ri-github-fill"></i></a></li>
                <li><a href="https://www.linkedin.com/in/herrerargustavo/" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
              </ul>
              <!-- social -->
            </div>
        </div>
    </header>
    <!-- header -->
    <!-- banner -->
    <div class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure>
              <img src="./static/assets/images/profile-image.jpg">
            </figure>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
                <h1>
                  <span>HI THERE</span>
                  I'm Gustavo Herrera <br> Software Developer based in Mexico.<br><br>Master of Science in Engineering
                </h1>
                <ul class="ds-numbervalulist">
                  <li>
                    <!--strong>6+</strong>
                    <span>Experience</span>
                  </li>
                  <li>
                    <strong>89</strong>
                    <span>Projects</span>
                  </li>
                  <li>
                    <strong>52</strong>
                    <span>Happy Clients</span-->
                  </li>
                </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->

    <!-- about -->
    <div class="ds-about-section">
      <div class="container">
        <section>
            <h2 class="ds-heading">About Me</h2>
            <p>I'm a Mechatronics Engineer with a Master of Science with a strong foundation in software development and hands-on experience in machine learning, data analysis, additive manufacturing, and problem-solving. 
              Proficient in Python with a passion for creating efficient, scalable solutions. 
              I am currently searching for a Software Engineer role, leveraging my background in AI-driven optimization and collaborative project management. 
              I am eager to contribute to innovative projects that push the boundaries of technology while continuing to grow my expertise in software engineering.</p>
            <div class="ds-button-sec text-center">
                <a href="static/GustavoH_resume.pdf" download class="ds-button">Download Resume</a>
            </div>
        </section>
      </div>
    </div>
    <!-- about -->

    <!--  Skills -->
    <div class="ds-skills-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <h2 class="ds-heading">Core Skills</h2>
             <ul class="ds-skills-list">
               <li>Python</li>
               <li>Flask</li>
               <li>Scikit-learn</li>
               <li>Pandas</li>
               <li>Unittest</li>
               <li>Matplotlib</li>
               <li>Selenium</li>
               <li>Git</li>
               <li>Seaborn</li>
               <li>Plotly</li>
             </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h2 class="ds-heading">Other Skills</h2>
            <ul class="ds-skills-list">
              <li>Algorithms and Data Structures</li>
              <li>MATLAB</li>
              <li>C</li>
              <li>Spanish - Native</li>
              <li>English - Bilingual C1</li>
              <li>French - Beginner</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  Skills -->

   <!-- Experience -->
   <div class="ds-experience-section">
     <div class="container">
        <h2 class="ds-heading">Work Experience</h2>
        <div class="row ds-experience-list">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <section>
                <span class="ds-year">Aug 2019 - May 2024</span>
                <h3 class="ds-officename">Master of Science in Engineering's Thesis</h3>
                <span class="ds-department">Mechanical characterization and design of metamaterials with the aid of additive manufacturing and AI</span>
            
                <ul>
                  <li>Managed and cleaned experimental datasets, analyzing correlations between design parameters and mechanical properties using Python libraries. Reported results with matplotlib and seaborn.</li>
                  <li>Implemented various Machine Learning algorithms (i.e. ANN, KNN, SVR, XGB, Random Forest) as surrogate models for mechanical structure optimization.</li>
                  <li>Achieved a 53% improvement in metamaterial performance using the Metamodel Evolutionary Optimizer (MEVO) over Bayesian Optimization.</li>
                  <li>Shared code and collaborated with peers using GitHub.</li>
                  <li> Presented technical work to both technical experts and non-technical stakeholders at conferences and events.</li>
                </ul>
              </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <section>
                <span class="ds-year">Feb 2022 - Jul 2022</span>
                <h3 class="ds-officename">General Electric Aviation Internship</h3>
                <span class="ds-department">Mechanical design internship in Product Definition Externals for airplane turbines</span>
                <ul>
                  <li>Created parametric 3D mechanical models in accordance with internal and industry standards.</li>
                  <li>Implemented requested fixes and managed versions in Siemens Teamcenter and digital threads.</li>
                  <li>Prepared presentations to expose task progress to team, superiors, and members of other areas.
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <section>
                <span class="ds-year">Jul 2021 - Feb 2022</span>
                <h3 class="ds-officename">Brose Intership</h3>
                <span class="ds-department">CAD design internship in Customer Team for automobile seat structures</span>
                <ul>
                  <li>Modified 3D parts and assemblies based on customer requirements adhering to company guidelines.</li>
                  <li>Evaluated design changes for functionality and manufacturability.</li>
                  <li>Managed versions and data with Excel, Enovia, and SAP.</li>
                  <li>Collaborated with engineers and manufacturing teams.</li>
                </ul>
              </section>
            </div>
        </div>
     </div>
   </div>
    <!-- Experience -->

   <!--  Work -->
   <div class="ds-work-section">
     <div class="container">
          <h2 class="ds-heading">Latest works</h2>
          <div class="ds-work-list-section">
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Lattice Generator with Machine Learning</h3>
                          <p>Master's thesis integrating machine learning to optimize the mechanical response of square lattices. 
                            Used a mechanical FEA software API for simulations, and used particle swarm optimization to explore the design space. 
                            A machine learning-based surrogate model replaced FEA for faster exploration. 
                            Applied data analysis and visualization to present findings. 
                          </p>
                          <!--a href="lattice-generator.html" class="ds-button">Details</a-->
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                      <figure><img src="./static/assets/images/Lattice_preview.jpg"></figure>
                  </div>
              </div>
            </div>
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Online Portfolio (this site)</h3>
                          <p>Developed a personal portfolio website using Flask to showcase my resume, projects, and skills. 
                            Customized a template for a clean, user-friendly interface and built a 'Contact Me' section that handles user submissions through a REST API. 
                            Submitted information is saved to a database and automatically emailed to me for streamlined inquiry management. 
                            Deployed the site on Python Anywhere, gaining experience with REST APIs, email integration, and database management.</p>
                          <!--a href="online-portfolio.html" class="ds-button">Details</a-->
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                      <figure><img src="./static/assets/images/portfolio_img.jpg"></figure>
                  </div>
              </div>
            </div>
          </div>
     </div>
   </div>
   <!--  Work -->

   <!--  footer -->
   <footer class="ds-footer text-center">
     <div class="container">
        <section>
          <span>Stay in touch</span>
          <h4>Contact me</h4>
          <p>Send me a message</p>
          <a href="contact.html" class="ds-button">Let's Talk</a>
        </section>
        <span class="ds-copyright">© 2022 All rights reserved. Free minimal bootstrap template by <a href="https://designstub.com/" target="_blank">Designstub</a>.</span>
     </div>
   </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script src="./static/assets/js/main.js"></script>
  </body>
</html>
