<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <!-- Main CSS -->
    <link href="./static/assets/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>GustavoHR CV</title>
    
    <!-- Internal CSS to fix the conflict -->
    <style>
      .section-container {
        margin-top: 80px; /* Adjust this value to control the space between the header and the section */
      }
    </style>
  </head>
  <body>
   
    <!-- header -->
    <header class="ds-header" id="site-header">
      <div class="container">
        <div class="ds-header-inner">
          <!-- logo -->
          <a href="index.html" class="ds-logo">
            <span>G</span>Gustavo Herrera
          </a>
          <!-- logo -->
          <!-- social -->
          <ul class="ds-social">
            <li><a href="#" target="_blank"><i class="ri-github-fill"></i></a></li>
            <li><a href="#" target="_blank"><i class="ri-stack-overflow-line"></i></a></li>
            <li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
          </ul>
          <!-- social -->
        </div>
      </div>
    </header>
    <!-- header -->
   
    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h1">Thank you! I'll get in touch with you shortly</h1>
            
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="ds-footer text-center">
      <div class="container">
        <span class="ds-copyright">© 2022 All rights reserved. Free minimal bootstrap template by <a href="https://designstub.com/" target="_blank">Designstub</a>.</span>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="./static/assets/js/main.js"></script>
  </body>
</html>
